/* header nav */
.nav-container {
  display: flex;
  justify-content: right;
  align-items: center;
  background-color: #18181b;
  height: 120px;
}

.nav-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-container li {
  display: inline-block;
  margin-right: 20px;
}

.nav-container a {
  display: block;
  font-size: 23px;
  padding: 5px 10px;
  color: #ffffff;
  text-decoration: none;
}

.nav-a:hover {
  background-color: #2c7849;
}
/* body */
:root {
  --gradient-presentation-background: rgba(1, 161, 201, 0.092); 
  --gradient-body-background: rgba(1, 161, 201, 0.092); 
}
.body {
  position: absolute;
  background-color: rgb(0, 0, 1);
  padding-left: 350px;
  padding-right: 350px;
  overflow-x: hidden;
}

.animated-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.dark-mode {
  background-color: #343541;
  color: #ececf1;
}

.presentation {
  position:relative;
  z-index: 1;
  display: flex;
  align-items: center;
  margin: auto;
  background: var(--gradient-presentation-background);
  padding-top: 240px;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 120px;
}

.article-presentation {
  color: #ececf1;
  flex: 1;
  text-align: right; 
}
/*about*/
.description p {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  margin-top: 1rem;
  margin-bottom: 0;
}
.about{
  color: #ffffff;
}
.profile-img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
}
/* cards */
.card-container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  background: var(--gradient-body-background);
  padding-top: 130px;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 120px;
}

.cards {
  width: calc(33.33% - 30px);
  margin-bottom: 60px;
  background-color: #656565;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.cards img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.cards h3 {
  font-size: 24px;
  margin-top: 10px;
}

.cards p {
  font-size: 16px;
  margin-top: 20px;
}

.cards a {
  display: block;
  text-align: center;
  background-color: #000;
  color: #fff;
  padding: 10px;
  text-decoration: none;
}

.cards a:hover {
  background-color: #444;
}


.icons {
  display: flex;
  justify-content: center;
}
.icons img {
  width: 70px;
  height: 70px;
}
.icons div {
  text-align: center;
  margin: 0 10px;
  font-weight: bold;
}

/* footer */
.footer {
  border-top: 3px solid #fff;

  color: #ffffff;
  min-height: 250px;
}

.footer p {
  text-align: center;
  font-size: 1.6rem;
}

.social-networks {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-networks a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.social-networks i {
  color: #ffffff;
  font-size: 1.5rem;
}
